{% extends 'base.html' %}
{% load static %}


{% block contents %}

<body class="is-preload">
    <div id='wrapper'>
        <!-- Header -->
					<header id="header">
						<div class="">
							<img style="width:20%;" src="{% static 'images/DBU.png' %}" alt="" />
						</div>
						<div class="content">
							<div class="inner">
								<h1>🚷리더들만 접근가능한 페이지입니다.🚷</h1>
								<p>정상적인 로그인시도로 접근해주시기 바랍니다.</p>
                                <input id="redirect" type="button" value="돌아가기" class="primary" onclick="change_location()" />
							</div>
                            
						</div>
						
							<ul class="icons">
                                <li><a href="https://www.instagram.com/done_by_us/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                            </ul>
						
					</header>



                    <!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Developed by ChoMinsu.</p>
					</footer>

        </div>
        


    <div id="bg"></div>
    <script>
        function change_location(){
            var url;    
            url="{% url 'login_render' %}"     
            window.location.href=url;
        }
    </script>	
</body>
{% endblock %}